@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import './components/common/NavBar.scss';
@import './components/common/Header.scss';
@import './components/common/Category.scss';
@import './components/common/Product.scss';
@import './components/common/Offer.scss';
@import './components/common/Testimonial.scss';
@import './components/common/Brands.scss';
@import './components/common/Footer.scss';
@import './components/common/Product.Details.scss';

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

