#header {
  background: radial-gradient(#fff, #ffd6d6);

  .container {
    max-width: 1080px;
    margin: auto;

    .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 70px;
      padding-bottom: 50px;

      .col-2 {
        flex-basis: 50%;
        min-width: 300px;

        img {
          max-width: 100%;
          padding: 50px 0;
        }

        h1 {
          font-size: 50px;
          line-height: 60px;
          margin: 25px 0;
        }

        a {
          text-decoration: none;
        }

        .btn {
          display: inline-block;
          background: #ff523b;
          color: #fff;
          padding: 15px 30px;
          margin: 30px 0;
          border-radius: 30px;
          transition: background 0.5s;
        }

        .btn:hover {
          background: #563434;
        }
      }
    }
  }

}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  }
