.container-bar {
  padding: 15px 0;

  #container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;

    #navbar {
      display: flex;
      align-items: center;

      nav {
        flex-grow: 1;
        text-align: right;

        ul {
          display: inline-block;
          list-style-type: none;

          li {
            display: inline-block;
            margin-right: 20px;
          }

          li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: rgb(65, 64, 64);
            display: block;
            margin: auto;
            transition: 0.3s;
          }

          li:hover::after {
            width: 100%;
          }
        }

        img {
          cursor: pointer;
        }
      }

      a {
        text-decoration: none;
        color: rgb(65, 64, 64);
      }

      p {
        color: #555;
      }
    }
  }
}


